body {
    
    background-color: lightgrey;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.custom-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* align-items: flex-end; */
}

td {
    display: flex;
    margin: 10px 10px 10px 10px;
    
}

.card {
    background-color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    

}

.moderateUV {
    background-color: orange;
}

.severeUV {
    background-color: red;
}


#display-box {
display: flex;
flex-direction: row;
}